<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dictionary_user.Properties.Settings.DictionaryDBConnectionString"
            connectionString="Data Source=DESKTOP-MFH0KDH\SQLEXPRESS;Initial Catalog=DictionaryDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>